<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>LaunchTestRun</display-name>
	<welcome-file-list>
		<welcome-file>upload.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ProblemServlet</servlet-name>
		<servlet-class>com.openhorizonsolutions.ltr.ProblemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexPageServlet</servlet-name>
		<jsp-file>/assets/welcome.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SolutionUploadHandler</servlet-name>
		<servlet-class>com.openhorizonsolutions.ltr.SolutionUploadHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProblemServlet</servlet-name>
		<url-pattern>/listproblems.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProblemServlet</servlet-name>
		<url-pattern>/problem.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProblemServlet</servlet-name>
		<url-pattern>/problem.html/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SolutionUploadHandler</servlet-name>
		<url-pattern>/submit-solution</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexPageServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexPageServlet</servlet-name>
		<url-pattern>/index.html/*</url-pattern>
	</servlet-mapping>
	<error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/assets/exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/assets/404.jsp</location>
    </error-page>
</web-app>